{% extends 'base.html' %}

{% block 'head' %}

{% endblock 'head' %}

{% block 'body' %}

    <div class="">
        <div class="">
        </div>
        <div class="">
            <div class="">
                <h1 class="">START.SE</h1>
                <h1>Cadastre-se</h1>
                <br>
                <form action="#" >
                    <label>Username</label>
                    <input type="text" class="" name="username" placeholder"">
                    <br>
                    <label>Senha</label>
                    <input type="password" class="" name="senha" placeholder"">
                    <br>
                    <label>Confirmar senha</label>
                    <input type="password" class="" name="confirmar_se" placeholder"">
                    <div class="">
                        <input type="submit" class="" value="Cadastrar">
                        <a href="#" class="">Já possuo uma conta</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock 'body' %}