{% extends 'base.html' %}
{% load static %}

{% block 'head' %}

{% endblock 'head' %}

{% block 'body' %}

    <div class="grid grid-cols-registration-app">
        <div>
            <img class="h-screen bg-cover" src="{% static '/img/bg.png' %}" alt=""></div>
        <div class="flex justify-center items-center">
            <div class="border p-14 w-4/12">
                <h1 class="text-4xl font-thin text-logo mb-3">START.SE</h1>
                <h1 class="text-6xl mb-8">Sign up</h1>
                <div class="">
                    <form action="#" >
                        <div>
                            <label class="block">Username</label>
                            <input class="w-full" type="text" class="" name="username" placeholder"">
                        </div>
                        <div>
                            <label class="block">Password</label>
                            <input class="w-full" type="password" class="" name="password" placeholder"">
                        </div>
                        </div>
                            <label class="block">Re-enter password</label>
                            <input class="w-full" type="password" class="" name="confirmar_se" placeholder"">
                        </div>
                        <div class="">
                            <input type="submit" class="" value="Cadastrar">
                            <a href="#" class="">Já possuo uma conta</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock 'body' %}