{% extends 'base.html' %}

{% load static %}

{% block 'body' %}


{% if user.is_authenticated %}
    {% include "partials/navbar.html" %}
{% endif %}
    

<div class="container mx-auto h-screen">

    
    {% if messages %}
        
        {% for message in messages %}
            {% include 'partials/alert.html' %}
        {% endfor %}
            
    {% endif %}
        
    
    <div class="flex flex-col mt-40">
        
        <div class="mb-8">
            <div class="flex">
                <div class="w-1/3 mr-2">
                    <input type="text" class="form-input" placeholder="Search for businesses">
                </div>
                <div>
                    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-4 px-8 rounded">Filter</button>
                </div>
            </div>
        </div>

        <div class="flex justify-center items-center bg-gray-800 rounded-md p-32">

            <table class="w-full text-sm text-center text-gray-500 dark:text-gray-400">
        
            {% if companies %}
                                
                <thead class="text-gray-300 uppercase bg-gray-700">
                    <tr>
                        <th scope="col" class="px-6 py-3">
                            Business Name
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Percentage caught
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Status
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Action
                        </th>
                    </tr>
                </thead>
                <tbody>
                    
                {% for company in companies %}
                        
                    <tr class=" odd:bg-gray-900  even:bg-gray-700 border-t border-gray-600">
                        <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap text-white">
                            {{ company.name }}
                        </th>
                        <td class="px-6 py-4">
                            <div class="w-full bg-gray-800 rounded-full">
                                <div class="bg-blue-600 text-xs font-medium text-blue-100 text-center p-2 leading-none rounded-full" style="width: {{ company.percent_equity }}%"> {{ company.percent_equity }}%</div>
                            </div>
                        </td>
                        <td class="px-6 py-4">
                            {{ company.get_status }} 
                        </td>
                        <td class="px-6 py-4">
                            <a href="{% url 'business_detail' company.id %}" class="font-medium bg-blue-600 hover:bg-blue-700 text-white py-2 px-4 rounded">Open</a>
                        </td>
                    </tr>
                {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="4" class="p-6 text-lg font-bold text-center">No businesses found</td>
                    </tr>

                    <tr>
                        <td colspan="4" class="p-6 text-center">
                            <a href="{% url 'register_business' %}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-3 px-4 rounded">Register a business</a>
                        </td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}