{% extends 'base.html' %}

{% load static %}

{% block 'body' %}


{% if user.is_authenticated %}
    {% include "partials/navbar.html" %}
{% endif %}
    

<div class="container mx-auto">
    <form action="" method="POST">{% csrf_token %}
        <div class="grid grid-cols-2 gap-4 content-center h-screen">
            <div class="p-8">
                <div class="mb-6">
                    <label class="block mb-2" for="business_name">Business Name</label>
                    <input class="w-full rounded-lg px-3 py-4 font-sans text-sm font-normal text-black" type="text"
                        name="business_name" id="business_name" placeholder="Enter the business name">
                </div>

                <div class="mb-6">
                    <label class="block mb-2" for="registration_number">Business Registration Number</label>
                    <input class="w-full rounded-lg px-3 py-4 font-sans text-sm font-normal text-black" type="text"
                        name="registration_number" id="registration_number"
                        placeholder="Enter the business registration number">
                </div>

                <div class="mb-6">
                    <label class="block mb-2" for="business_website">Business Website</label>
                    <input class="w-full rounded-lg px-3 py-4 font-sans text-sm font-normal text-black" type="text"
                        name="business_website" id="business_website" placeholder="Enter the business website">
                </div>

                <div class="mb-6">
                    <label class="block mb-2" for="time_existence">How long has the startup existed?</label>
                    <select class="w-full rounded-lg px-3 py-4" name="time_existence" id="time_existence">
                        <option value="">Less than 6 months</option>
                        <option value="">More than 6 months</option>
                        <option value="">More than 1 year</option>
                        <option value="">More than 5 years</option>
                    </select>
                </div>

                <div class="mb-6">
                    <label for="business_description" class="block mb-2">Describe your business</label>
                    <textarea name="business_description" id="business_description"
                        class="peer h-full min-h-40 w-full resize-none rounded-lg px-3 py-4 font-sans text-sm font-normal text-black"
                        placeholder=" "></textarea>
                </div>

                <div class="mb-6">
                    <label class="block mb-2" for="business_funding">End date for funding</label>
                    <input class="w-full rounded-lg px-3 py-4 font-sans text-sm font-normal text-black" type="date"
                        name="business_funding" id="business_funding">
                </div>

                <div class="mb-6">
                    <label class="block mb-2" for="business_percentage_return">What percentage (%) of equity is offered
                        in return for the amount invested?</label>
                    <div class="relative">
                        <input class="w-full rounded-lg px-3 py-4 font-sans text-sm font-normal text-black cursor-pointer" type="range"
                            name="business_percentage_return" id="business_percentage_return" min="0" max="100" value="0" oninput="updateRangeValue(this)">
                        <span id="rangeValue" class="absolute bottom-0 left-0 transform translate-y-3 font-bold">0%</span>
                    </div>
                </div>
            </div>

            <div class="p-8">
                <div class="mb-6">
                    <label for="business_stage" class="block mb-2">What stage is the business at?</label>
                    <div class="space-y-2">
                        <div>
                            <input type="radio" name="business_stage" id="business_stage_idea" value="idea">
                            <label for="business_stage_idea">I just have an idea</label>
                        </div>
                        <div>
                            <input type="radio" name="business_stage" id="business_stage_mvp" value="mvp">
                            <label for="business_stage_mvp">I have an MVP</label>
                        </div>
                        <div>
                            <input type="radio" name="business_stage" id="business_stage_mvp_paying" value="mvp_paying">
                            <label for="business_stage_mvp_paying">I have an MVP with paying clients</label>
                        </div>
                        <div>
                            <input type="radio" name="business_stage" id="business_stage_ready" value="ready">
                            <label for="business_stage_ready">Ready to scale</label>
                        </div>
                    </div>
                </div>

                <div class="mb-6">
                    <label class="block mb-2" for="stage">Which area is your startup in?</label>
                    <select class="w-full rounded-lg px-3 py-4" name="stage" id="stage">
                        <option value="">Ed-tech</option>
                        <option value="">Fintech</option>
                        <option value="">Health-tech</option>
                        <option value="">IT Services</option>
                        <option value="">Real Estate</option>
                        <option value="">Energy</option>
                        <option value="">AI/ML</option>
                        <option value="">SaaS</option>
                        <option value="">Other</option>
                    </select>
                </div>
    
                <div class="mb-6">
                    <label class="block mb-2" for="target">What is your target audience?</label>
                    <select class="w-full rounded-lg px-3 py-4" name="target" id="target">
                        <option value="">B2B</option>
                        <option value="">B2C</option>
                    </select>
                </div>
    
                <div class="mb-6">
                    <label class="block mb-2" for="billing">Which billing model?</label>
                    <select class="w-full rounded-lg px-3 py-4" name="billing" id="billing">
                        <option value="">Subscription</option>
                        <option value="">Pay per use</option>
                        <option value="">Freemium</option>
                        <option value="">Other</option>
                    </select>
                </div>

                <div class="mb-6">
                    <label class="block mb-2" for="business_raise_expectation">How much money do you want to raise?</label>
                    <input class="w-full rounded-lg px-3 py-4 font-sans text-sm font-normal text-black" type="number"
                        name="business_raise_expectation" id="business_raise_expectation" placeholder="Enter the amount">
                </div>

                <div class="mb-6">
                    <label for="business_logo" class="block mb-2">Upload logo</label>
                    <input type="file" name="business_logo" id="business_logo">
                </div>

                <div class="mb-6">
                    <label for="business_pitch" class="block mb-2">Upload Pitch</label>
                    <input type="file" name="business_pitch" id="business_pitch">
                </div>

                <div class="mb-6">
                    <button class="w-full bg-blue-500 hover:bg-blue-700 text-white font-bold py-3 px-4 rounded">
                        Register
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>

{% block postloadjs %}
{{ block.super }}
<script src="{% static 'business/js/scripts.js' %}"></script>
{% endblock %}

{% endblock %}